# Server
PORT= PORT_NUMBER

# Database
MONGO_URI= YOUR_DATABASE_URI

# Env
DEVELOPMENT_HOST=http://localhost:PORT
NODE_ENV=DEVELOPMENT OR PRODUCTION

# Email
EMAIL_HOST= SMTP_HOST
EMAIL_PORT= SMTP_PORT
EMAIL_USERNAME= SMTP_USERNAME
EMAIL_PASSWORD= SMTP_PASSWORD


# Json web token
JWT_SECRET= JSON_WEB_TOKEN SECRETS
JWT_EXPIRES_IN= DURATION OF EXPIRE OF JWT
JWT_REFRESH_EXPIRES_IN= DURATION OF EXPIRE OF JWT REFRESH TOKEN
JWT_COOKIE_AGE= COOKIE LIFE TIME

# Cloudinary
CLOUD_NAME=GET FROM CLOUDINARY API
CLOUD_KEY=GET FROM CLOUDINARY API
CLOUD_SECRET=GET FROM CLOUDINARY API
CLOUDINARY_URL=GET FROM CLOUDINARY API

# Session
SESSION_SECRET=YOUR SESSION SECRETS


# Google Auth 2.0
GOOGLE_CLIENT_ID=GET FROM GOOGLE CONSOLE
GOOGLE_CLIENT_SECRET=GET FROM GOOGLE CONSOLE